*{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.yaoling_header{
	position: relative;
	height: 36px;
	width: 100%;
	line-height: 36px;
	color: #333;
	background-color: #fff;
	z-index: 1001;
	box-shadow: 0px 1px 0px 0px #eee ;
}
.yaoling_header ul{
	width: 400px;
	height: 35px;
	margin: 0px 0px 0px 40px;
	list-style: none;
}
.list{
	float: left;
	position: relative;
	
}
.list>a{
	display: inline-block;
	height: 100%;
	text-decoration: none;
	font-size: 12px;
	color:#9b9b9b ;
	padding-right: 24px;
}
.header-list  a:hover{
	color: green;
}
.show-userinfo{
	float: right;
	font-size: 12px;
	color: #9c9fa1;
	margin-top: -33px;
	padding-right: 50px;
}
.phone{
	padding-right: 30px;
	border-right:1px solid ;
	margin-right: 20px;
}
.show-userinfo a{
	color: #9C9FA1;
	text-decoration: none;
}
.show-userinfo a:hover{
	color: green;
}
.xinfang_nav {
	width: 1260px;
	height:87px;
	float: left;
	}
.logo {
    background-repeat: no-repeat;
    background-image: url(../img/logo1.png);
    background-size: 100% 100%;
    background-position: 0;
    width: 164px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin: -60px 25px 10px 40px;
}
.fl span{
	 position: absolute;
	 margin-top: 33px;
	 height: 30px;
	 color: gainsboro;
	 border: 1px none #ccc;
}
.city{
    display: inline-block;
    height: 26px;
    padding: 0 8px;
    margin-bottom: 5px;
    line-height: 26px;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    margin: -60px 25px 10px 40px;
}
.xinfang-list{
	width: 280px;
	height: 85px;
	list-style: none;
	display: inline-block;
    margin-left: 60px;
}
.xinfang-list li a{
	color: #333333;
	float: left;
	text-decoration: none;
	font-size: 16px;
	padding: 20px;
	margin: 15px 10px 10px -20px;
	}
 .xinfang-list  .shouye{
	color: green;
}
.fr span{
	color: #39ac6a;
    font-weight: 700;
    float: right;
    margin: -54px 20px 10px -10px;
}
.s-sity .city{
	width: 180px;
	height: 19px;
	margin: 16px;
}
.x-banner {
	background: url(../img/big_tu.jpg) 50% no-repeat;
    height: 445px;
    width: 1263px;
    position: relative;
    z-index: -2;
}
.title {
    background: url(../img/fang.png) no-repeat 0 -111px;
    width: 720px;
    height: 100px;
    display: inline-block;
    position: absolute;
    left: 40%;
    top: 50%;
    z-index: -1;
}
.xinfang-banner .s-sity{
    width: 248px;
    height: 109px;
    position: absolute;
    z-index: 1;
    background-color:#263138;
}
.info{
	width: 248px;
    height: 334px;
    position: absolute;
    background-size:260px  335px;
    left: 0px;
    top: 238px;
    z-index: 1;
    background-image: url(../img/ditu.jpg);"
}
.zaishou{
	width: 100px;
	height: 18px;
    font-size: 12px;
    line-height: 22px;
}
.x-txt p{
	color: white;
    text-decoration: none;
    z-index: 2;
    float: left;
    position: relative;
    top: -30px;
    left: 20px;
}
.map1{
	width: 213px;
    height: 38px;
    background-color: #f15044;
    margin: 18px auto 0;
    position: relative;
    left: -1px;
    border-radius: 2px;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
    float: left;
    margin-top: -380px;
    margin-left: 15px;
    z-index: 2;
}
.map1 a{
	color: white;
	text-decoration: none;
}
.seclect{
	width:  246px;
	height: 444px;
	background-color:rgba(57,172,106,.9);
	margin-left: 248px;
	margin-top: -444px;
}
.seclect1{
	width: 134px;
    border: 1px solid #fff;
    background: #369d67;
    padding: 0 8px;
    margin: 40px 30px;
    height: 36px;
    line-height: 36px;
    border-radius: 2px;
    color: ghostwhite;
    font-size: 14px;
}
.submit{
	position: absolute;
	width:40px;
	height: 39px;
	background-color: white;
	top: 168.5px;
	margin-left: -30px;
}
a .tj{
	float: right;
	position: absolute;
	margin-top: -300px;
	z-index: 2;
	left: 280px;
	color:gainsboro;
}
.tuijian {
	margin-top: -350px;
	z-index: 2;
	left: 280px;
	position: absolute;
	width: 190px;
}
.tuijian a{
	color: white;
	text-decoration: none;
}
.zhaofang{
    width: 200px;
    margin-left: 280px;
	margin-top: -270px;
    color: #fff;
}
.chazhao{
    background: #369d67;
    color: #fff;
    width: 80px;
    height: 35px;
    border: 2px solid #fff;
    display:initial;
    border-radius: 2px;
    cursor: pointer;
}
.chazhao1{
    background: #369d67;
    color: #fff;
    width: 80px;
    height: 35px;
    border: 2px solid #fff;
    display:initial;
    border-radius: 2px;
    cursor: pointer;
    float: right;
    margin-top: -250px;
}
.chazhao2{
    background: #369d67;
    color: #fff;
    width: 80px;
    height: 35px;
    border: 2px solid #fff;
    display:initial;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 10px;
}
.chazhao3{
    background: #369d67;
    color: #fff;
    width: 80px;
    height: 35px;
    border: 2px solid #fff;
    display:initial;
    border-radius: 2px;
    cursor: pointer;
    float: right;
    margin-top: -205px;
}
.fang{
    background: url(../img/fang.png) no-repeat -60px -9px;
    display: inline-block;
    width: 9px;
    height: 7px;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -4px;
}
.shaixuan{
	margin-left: 280px;
	margin-top: 300px;
    border-radius: 2px;
    text-align: center;
    width: 190px;
    height: 37px;
    line-height: 38px;
    background: #fff;
    color: #39ac6a;
    cursor: pointer;
    font-weight: 700;
}
.title1 h1{
	font-size: 34px;
    font-weight: 700;
    margin-top: 140px;
    text-align: center;
}
.fangyuan{
	width: 1160px;
    height: 501px;
	margin-top:30px;
	margin-left: 80px;
}
.center li{
	width: 530px;
	height: 202px;
    display: inline-block;
    margin: 15px;
    margin-right: 30px;
    margin-bottom: 45px;
    background: #f7f7f7;
}
.xiaoguo img{
	height: 202px;
	width: 200px;
}
.xiaoguo span{
	margin-left: 140px;
	margin-top: 10px;
	color: hsla(0,0%,100%,.5);
    font-size: 12px;
}
.weizhi{
	font-size: 20px;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.del span{
	color: #999;
    padding: 0 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    height: 23px;
    line-height: 23px;
    display: inline-block;
    position: absolute;
    font-weight: 400;
    margin-top: 5px;
    margin-left: 20px;
}
.del{
    padding: 20px;
    height: 160px;
    width: 310px;
    position:relative;
    margin-left: 200px;
    margin-top: -210px;
  }
.name{
	color: #878787;
    margin-bottom: 11px;
    font-weight: 400;
}
.del p{
	font-weight: 700;
}
.jiage{
	 color:red;
	 margin-left: 40px;
	 margin-top: -20px;
}
.mianji{
	margin-top: 11px;
}
.line {
    background: url(../img/line.png) no-repeat;
    width: 100%;
    height: 7px;
    margin-top: 1200px;
    background-size: 100% 7px;
}
.title-1 h1{
	font-size: 34px;
    font-weight: 700;
    margin-top: 50px;
    text-align: center;
}
.xinfang-all{
	width: 1160px;
    height: 1010px;
    margin-left: 80px;
    text-decoration: none;
}
.f-title .all {
    text-align: left;
    position: relative;
    bottom: -30px;
    font-weight: 700;
    font-size: 12px;
}
.item-list ul li {
    float: left;
    width: 340px;
    height: 400px;
    margin-right: 45px;
    margin-bottom: 55px;
    position: relative;
    top:40px ;
    display: inline-block;
}
.item-list .img {
    margin-bottom: 12px;
    width: 342px;
    height: 342px;
}
a {
    cursor: pointer;
    color: #666;
}
.xiaoguo2{
	position: absolute;
	margin-top:-310px;
	margin-left: 10px;
	color: hsla(0,0%,100%,.5);
	z-index: 9;
    font-size: 12px;
}
.big-size{
	top: 50%;
    left: 50%;
    margin-left: -120px;
    margin-top: -30px;
    position: absolute;
    text-align: center;
    width: 230px;
    font-size: 26px;
    text-shadow: 0 2px 4px rgba(0,0,0,.2);
    color: #fff;
    font-weight: 700;
    z-index: 9;
}
.b-big-size{
	position: relative;
    bottom: 30px;
    color: #fff;
    z-index: 9;
    padding: 0 18px;
    width: 300px;
    left: 0;
}
.info1{
	width: 269px;
	height: 37px;
	position: absolute;
	margin-top: -10px;
	color: #999;
}
.lab1{
    color: #999;
    padding: 1px 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    position: absolute;
    top: 331px;
    right: 30px;
    background-color: #fff;
    float: right;
}
.show-more {
    background: #ededee;
    text-align: center;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    border-radius: 2px;
    width: 100%;
    cursor: pointer;
    color: #797c7f;
}
.footer {
    background: url(../img/foot.jpg) no-repeat top #222;
    clear: both;
    width: 100%;
    height: 426px;
    margin-top: 95px;
}
.footer .beizhu {
    width: 1150px;
    margin: 0 auto;
}
.footer .footer-beizhu {
    height: 75px;
    border-bottom: 1px solid #393939;
    line-height: 75px;
    margin: 0;
}
.footer-beizhu {
    text-align: center;
    position: relative;
    margin-bottom: 43px;
}
.footer .footer-beizhu .f-list li {
    float: left;
}
.footer .footer-beizhu .f-list li {
	color: #fff;
    margin-right: 15px;
    font-size: 14px;
    cursor: pointer; 
    float: left;
}
.footer .footer-beizhu .fr1 {
    color: #7dcfa0;
}
body .fr1 {
    float: right;
}
.footer .lianjia-link-box {
    padding: 13px 0 20px;
    background: none;
   
}
body .f-list{
    float: left;
}
.footer .lianjia-link-box .f-list .tab {
    height: 40px;
}
.footer .lianjia-link-box .f-list .tab span {
    padding: 10px 10px;
    background: #121212;
    color: #888c8e;
    float: left;
    margin-right: 12px;
    cursor: pointer;
    font-size: 12px;
    transition: all .3s ease-in-out;
}
.footer .lianjia-link-box .f-list .tab span:hover {
    background: #394043;
    color: #fff;
}
.footer .lianjia-link-box .footer-beizhu .link-list div {
    display: none;
    min-height: 89px;
    overflow: hidden;
}
.footer .lianjia-link-box .f-list dd a {
    color: #888c8e;
    font-size: 12px;
    display: inline-block;
    margin: 10px 10px 0 0px;
    cursor: pointer;
    float: left;
    cursor: pointer;
}
.footer .lianjia-link-box .fr img {
    border: 5px solid #fff;
    border-radius: 2px;
    width: 129px;
    height: 129px;
    float: right;
}
.f-list{
	width: 870px;
    height: 89px;
	padding-right: 30px;
}
.footer .bottom {
	border-top: 1px solid #393939;
    padding-top: 13px;
    margin-top: 140px;
}
.footer .bottom .copyright {
    color: #888c8e;
    font-size: 12px;
    line-height: 20px;
    margin-top: 10px;
}
body .fl1{
    float: left;
}
